@import '../../variables.css';
@import '../../resets.css';

body {
  box-sizing: border-box;
  background: #000;
  color: #FFF;
  font-family: Courier, Arial;
  text-align: center;
  text-transform: uppercase;
}

table {
  border-collapse: separate;
  border-spacing: 1rem;
}

form, table {
  margin: 0 auto;
  position: relative;
}

form {
  background: #333;
  font-size: 0.75rem;
}

input {
  background: none;
  border: none;
  color: #FFF;
  font-size: 0.75rem;
  padding: 0;
  text-align: right;
  width: 1rem;
}

input:focus {
  outline: none;
}

label, button {
  color: #666;
  display: inline-block;
  padding: 0.5rem;
}

.score {
  margin: 0.5rem;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
}

h1 {
  background: #000;
  display: inline-block;
  font-weight: normal;
  font-size: 1rem;
  margin: 1rem 1rem;
}

h1 em {
  font-style: italic;
  text-transform: lowercase;
}

td {
  border: 0.5rem solid #555;
  color: #000;
  height: 3rem;
  width: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.current_player {
  height: 0.25rem;
  left: 25%;
  position: absolute;
  top: 2.75rem;
  transition: all 0.25s;
  width: 25%;
  z-index: -1;
}

.current_player.side_o {
  transform: translateX(100%);
}

.side_x {
  background: #7CFC00;
  border-color: #7CFC00;
}

.side_o {
  background: #FF0000;
  border-color: #FF0000;
}

.score {
  background: none;
  color: #000;
  display: inline-block;
}

.score.side_x {
  color: #7CFC00;
}

.score.side_o {
  color: #FF0000;
}

.current_game {
  background: #222;
}
